## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

D:\School\Programs\Anaconda\envs\pythondata\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
D:\School\Programs\Anaconda\envs\pythondata\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
D:\School\Programs\Anaconda\envs\pythondata\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
D:\School\Programs\Anaconda\envs\pythondata\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
D:\School\Programs\Anaconda\envs\pythondata\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
D:\School\Programs\Anaconda\envs\pythondata\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
D:\School\Programs\Anaconda\envs\pythondata\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
D:\School\Programs\Anaconda\envs\pythondata\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
D:\School\Programs\Anaconda\envs\pythondata\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
D:\School\Programs\Anaconda\envs\pythondata\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
D:\School\Programs\Anaconda\envs\pythondata\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
D:\School\Programs\Anaconda\envs\pythondata\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique(axis=0)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [6]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE

#this will generate and show the entire data frame of value counts without needing to tell it value_count >1
pd.set_option('display.max_rows', 71)
cla_df = application_df.CLASSIFICATION.value_counts().to_frame()
cla_df

       CLASSIFICATION
C1000           17326
C2000            6074
C1200            4837
C3000            1918
C2100            1883
C7000             777
C1700             287
C4000             194
C5000             116
C1270             114
C2700             104
C2800              95
C7100              75
C1300              58
C1280              50
C1230              36
C1400              34
C2300              32
C7200              32
C1240              30
C8000              20
C7120              18
C1500              16
C6000              15
C1800              15
C1250              14
C8200              11
C1278              10
C1238              10
C1237               9
C1235               9
C7210               7
C4100               6
C1720               6
C2400               6
C1600               5
C1257               5
C2710               3
C1260               3
C0                  3
C1267               2
C3200               2
C1246               2
C1256               2
C1234               2
C2150               1
C1728               1
C1580               1
C3700               1
C4120               1
C1732               1
C1283               1
C5200               1
C4200               1
C2500               1
C6100               1
C1570               1
C1900               1
C2380               1
C2561               1
C1370               1
C1248               1
C2570               1
C1245               1
C2190               1
C2170               1
C2600               1
C1236               1
C4500               1
C8210               1
C1820               1

In [46]:
#create list of values to be changed
classifications_to_replace = application_df.CLASSIFICATION.value_counts()[application_df['CLASSIFICATION'].value_counts()< 1000].index

In [40]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

#included the code for finding value_counts >1 but my above cells create the list of indices to be changed
application_df.CLASSIFICATION.value_counts()[application_df['CLASSIFICATION'].value_counts()> 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C4100        6
C2400        6
C1720        6
C1600        5
C1257        5
C1260        3
C0           3
C2710        3
C3200        2
C1256        2
C1234        2
C1246        2
C1267        2
Name: CLASSIFICATION, dtype: int64

In [47]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

#See 2 cells above

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
final_df = pd.get_dummies(application_df)
final_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [17]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = final_df.drop("IS_SUCCESSFUL", axis=1)
y = final_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=12)

2496     1
2424     0
20141    1
24608    1
6293     1
        ..
278      1
12108    1
9475     0
19709    1
14155    0
Name: IS_SUCCESSFUL, Length: 25724, dtype: int64

In [24]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
#define number of input features
number_input_features = len(X_train_scaled[0])

## Compile, Train and Evaluate the Model

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=80, input_dim=number_input_features, activation="relu"))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 80)                8720
_________________________________________________________________
dense_4 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 31
=================================================================
Total params: 11,181
Trainable params: 11,181
Non-trainable params: 0
_________________________________________________________________

In [31]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [32]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

WARNING:tensorflow:From D:\School\Programs\Anaconda\envs\pythondata\lib\site-packages\tensorflow\python\ops\math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Epoch 1/100
25724/25724 [==============================] - 1s 34us/sample - loss: 0.7224 - acc: 0.7023
Epoch 2/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.6941 - acc: 0.7151
Epoch 3/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.6283 - acc: 0.7186
Epoch 4/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.6179 - acc: 0.7273
Epoch 5/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.6040 - acc: 0.7246
Epoch 6/100
25724/25724 [==============================] - 1s 28us/sample - loss: 0.6144 - acc: 0.7189
Epoch 7/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5972 - acc: 0.7260
Epoch 8/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5867 - acc: 0.7274
Epoch 9/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5861 - acc: 0.7279
Epoch 10/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5769 - acc: 0.7279
Epoch 11/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5674 - acc: 0.7318
Epoch 12/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5715 - acc: 0.7321
Epoch 13/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5851 - acc: 0.7290
Epoch 14/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5798 - acc: 0.7328
Epoch 15/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5885 - acc: 0.7310
Epoch 16/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5801 - acc: 0.7303
Epoch 17/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5647 - acc: 0.7323
Epoch 18/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5708 - acc: 0.7326
Epoch 19/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5667 - acc: 0.7347
Epoch 20/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5659 - acc: 0.7317
Epoch 21/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5677 - acc: 0.7322
Epoch 22/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5736 - acc: 0.7323
Epoch 23/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5717 - acc: 0.7319
Epoch 24/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5670 - acc: 0.7336
Epoch 25/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5633 - acc: 0.7330
Epoch 26/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5597 - acc: 0.7332
Epoch 27/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5616 - acc: 0.7348
Epoch 28/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5608 - acc: 0.7341
Epoch 29/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5537 - acc: 0.7336
Epoch 30/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5527 - acc: 0.7344
Epoch 31/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5496 - acc: 0.7352
Epoch 32/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5468 - acc: 0.7351
Epoch 33/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5458 - acc: 0.7370
Epoch 34/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5462 - acc: 0.7361
Epoch 35/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5464 - acc: 0.7351
Epoch 36/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5445 - acc: 0.7369
Epoch 37/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5432 - acc: 0.7355
Epoch 38/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5470 - acc: 0.7365
Epoch 39/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5429 - acc: 0.7385
Epoch 40/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5426 - acc: 0.7376
Epoch 41/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5413 - acc: 0.7378
Epoch 42/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5444 - acc: 0.7369
Epoch 43/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5410 - acc: 0.7371
Epoch 44/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5424 - acc: 0.7370
Epoch 45/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5431 - acc: 0.7380
Epoch 46/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5412 - acc: 0.7369
Epoch 47/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5411 - acc: 0.7380
Epoch 48/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5414 - acc: 0.7370
Epoch 49/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5441 - acc: 0.7384
Epoch 50/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5407 - acc: 0.7379
Epoch 51/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5405 - acc: 0.7378
Epoch 52/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5411 - acc: 0.7370
Epoch 53/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5435 - acc: 0.7375
Epoch 54/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5537 - acc: 0.7358
Epoch 55/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5459 - acc: 0.7359
Epoch 56/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5448 - acc: 0.7379
Epoch 57/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5410 - acc: 0.7380
Epoch 58/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5398 - acc: 0.7388
Epoch 59/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5433 - acc: 0.7388
Epoch 60/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5442 - acc: 0.7368
Epoch 61/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5489 - acc: 0.7381
Epoch 62/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5497 - acc: 0.7378
Epoch 63/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5443 - acc: 0.7382
Epoch 64/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5404 - acc: 0.7393
Epoch 65/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5405 - acc: 0.7386
Epoch 66/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5398 - acc: 0.7386
Epoch 67/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5427 - acc: 0.7372
Epoch 68/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5394 - acc: 0.7386
Epoch 69/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5389 - acc: 0.7400
Epoch 70/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5404 - acc: 0.7385
Epoch 71/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5485 - acc: 0.7374
Epoch 72/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5460 - acc: 0.7390
Epoch 73/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5393 - acc: 0.7381
Epoch 74/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5379 - acc: 0.7385
Epoch 75/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5392 - acc: 0.7392
Epoch 76/100

25724/25724 [==============================] - 1s 29us/sample - loss: 0.5377 - acc: 0.7393
Epoch 77/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5394 - acc: 0.7378
Epoch 78/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5454 - acc: 0.7384
Epoch 79/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5421 - acc: 0.7376
Epoch 80/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5417 - acc: 0.7380
Epoch 81/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5426 - acc: 0.7394
Epoch 82/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5432 - acc: 0.7398
Epoch 83/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5407 - acc: 0.7394
Epoch 84/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5459 - acc: 0.7394
Epoch 85/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5442 - acc: 0.7392
Epoch 86/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5493 - acc: 0.7389
Epoch 87/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5490 - acc: 0.7385
Epoch 88/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5499 - acc: 0.7394
Epoch 89/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5452 - acc: 0.7382
Epoch 90/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5490 - acc: 0.7394
Epoch 91/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5491 - acc: 0.7382
Epoch 92/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5485 - acc: 0.7393
Epoch 93/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5547 - acc: 0.7401
Epoch 94/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5449 - acc: 0.7392
Epoch 95/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5446 - acc: 0.7387
Epoch 96/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5492 - acc: 0.7400
Epoch 97/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5529 - acc: 0.7396
Epoch 98/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5442 - acc: 0.7401
Epoch 99/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5456 - acc: 0.7396
Epoch 100/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5477 - acc: 0.7391

In [33]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5849 - acc: 0.7293
Loss: 0.5849411273211154, Accuracy: 0.7293294668197632

In [34]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('AlphabetSoupCharity.h5')

In [35]:
# Define the model
nn1 = tf.keras.models.Sequential()

# layers
nn1.add(tf.keras.layers.Dense(units=200, input_dim=number_input_features, activation="relu"))
nn1.add(tf.keras.layers.Dense(units=80, activation="relu"))
nn1.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn1.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 200)               21800
_________________________________________________________________
dense_7 (Dense)              (None, 80)                16080
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 81
=================================================================
Total params: 37,961
Trainable params: 37,961
Non-trainable params: 0
_________________________________________________________________

In [36]:
# Compile the model
nn1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [37]:
# Train the model
fit_model1 = nn1.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
25724/25724 [==============================] - 1s 36us/sample - loss: 0.5730 - acc: 0.7221
Epoch 2/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5532 - acc: 0.7297
Epoch 3/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5492 - acc: 0.7306
Epoch 4/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5473 - acc: 0.7329
Epoch 5/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5462 - acc: 0.7325
Epoch 6/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5453 - acc: 0.7331
Epoch 7/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5434 - acc: 0.7340
Epoch 8/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5434 - acc: 0.7344
Epoch 9/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5421 - acc: 0.7356
Epoch 10/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5418 - acc: 0.7350
Epoch 11/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5418 - acc: 0.7357
Epoch 12/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5409 - acc: 0.7358
Epoch 13/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5403 - acc: 0.7372
Epoch 14/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5396 - acc: 0.7364
Epoch 15/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5392 - acc: 0.7374
Epoch 16/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5388 - acc: 0.7378
Epoch 17/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5389 - acc: 0.7378
Epoch 18/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5390 - acc: 0.7375
Epoch 19/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5379 - acc: 0.7382
Epoch 20/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5371 - acc: 0.7380
Epoch 21/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5369 - acc: 0.7378
Epoch 22/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5360 - acc: 0.7385
Epoch 23/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5364 - acc: 0.7390
Epoch 24/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5363 - acc: 0.7385
Epoch 25/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5358 - acc: 0.7386
Epoch 26/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5352 - acc: 0.7379
Epoch 27/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5352 - acc: 0.7390
Epoch 28/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5348 - acc: 0.7394
Epoch 29/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5342 - acc: 0.7394
Epoch 30/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5345 - acc: 0.7398
Epoch 31/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5344 - acc: 0.7400
Epoch 32/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5340 - acc: 0.7400
Epoch 33/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5334 - acc: 0.7400
Epoch 34/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5339 - acc: 0.7400
Epoch 35/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5333 - acc: 0.7412
Epoch 36/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5335 - acc: 0.7404
Epoch 37/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5339 - acc: 0.7399
Epoch 38/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5328 - acc: 0.7406
Epoch 39/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5331 - acc: 0.7400
Epoch 40/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5327 - acc: 0.7402
Epoch 41/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5324 - acc: 0.7407
Epoch 42/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5322 - acc: 0.7408
Epoch 43/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5321 - acc: 0.7410
Epoch 44/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5319 - acc: 0.7407
Epoch 45/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5321 - acc: 0.7413
Epoch 46/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5318 - acc: 0.7409
Epoch 47/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5319 - acc: 0.7410
Epoch 48/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5331 - acc: 0.7409
Epoch 49/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5311 - acc: 0.7402
Epoch 50/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5309 - acc: 0.7410
Epoch 51/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5305 - acc: 0.7415
Epoch 52/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5309 - acc: 0.7411
Epoch 53/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5318 - acc: 0.7410
Epoch 54/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5307 - acc: 0.7408
Epoch 55/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5308 - acc: 0.7402
Epoch 56/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5314 - acc: 0.7415
Epoch 57/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5329 - acc: 0.7414
Epoch 58/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5301 - acc: 0.7409
Epoch 59/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5301 - acc: 0.7407
Epoch 60/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5298 - acc: 0.7416
Epoch 61/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5301 - acc: 0.7419
Epoch 62/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5296 - acc: 0.7409
Epoch 63/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5300 - acc: 0.7413
Epoch 64/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5297 - acc: 0.7409
Epoch 65/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5300 - acc: 0.7422
Epoch 66/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5305 - acc: 0.7410
Epoch 67/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5308 - acc: 0.7410
Epoch 68/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5355 - acc: 0.7419
Epoch 69/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5296 - acc: 0.7412
Epoch 70/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5293 - acc: 0.7415
Epoch 71/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5285 - acc: 0.7420
Epoch 72/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5306 - acc: 0.7422
Epoch 73/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5300 - acc: 0.7420
Epoch 74/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5289 - acc: 0.7413
Epoch 75/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5285 - acc: 0.7411
Epoch 76/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5287 - acc: 0.7420
Epoch 77/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5289 - acc: 0.7411
Epoch 78/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5292 - acc: 0.7419
Epoch 79/100

25724/25724 [==============================] - 1s 33us/sample - loss: 0.5286 - acc: 0.7416
Epoch 80/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5294 - acc: 0.7425
Epoch 81/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5293 - acc: 0.7414
Epoch 82/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5285 - acc: 0.7420
Epoch 83/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5287 - acc: 0.7420
Epoch 84/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5293 - acc: 0.7423
Epoch 85/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5284 - acc: 0.7421
Epoch 86/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5289 - acc: 0.7423
Epoch 87/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5283 - acc: 0.7417
Epoch 88/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5280 - acc: 0.7432
Epoch 89/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5317 - acc: 0.7413
Epoch 90/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5284 - acc: 0.7412
Epoch 91/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5287 - acc: 0.7418
Epoch 92/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5282 - acc: 0.7419
Epoch 93/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5281 - acc: 0.7418
Epoch 94/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5287 - acc: 0.7423
Epoch 95/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5281 - acc: 0.7420
Epoch 96/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5281 - acc: 0.7424
Epoch 97/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5286 - acc: 0.7419
Epoch 98/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5282 - acc: 0.7419
Epoch 99/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5280 - acc: 0.7415
Epoch 100/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5449 - acc: 0.7407

In [38]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn1.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.8611 - acc: 0.7319
Loss: 0.861056774017067, Accuracy: 0.7318950295448303